<article class="media content-section mb-1 border-top">
    <img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img img-bordered-primary">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'blog-post-user' post.author %}">{{ post.author }}</a>

            {% if post.is_postupdated %}
            <small class="text-muted">updated: {{ post.date_posted }}</small>
            {% else %}
            <small class="text-muted">{{ post.date_posted }}</small>
            {% endif %}
        </div>
        <h4><a class="article-title" href="{% url 'blog-post-detail' post.id %}">{{ post.title|title }}</a></h4>
        <p class="article-content">{{ post.content|title }}</p>
        

    </div>
</article>