<div class="panel-body text-center card col-3 mb-1 mt-1 ml-1 mr-1"
    style="border-radius:7px; border-style:groove; border-color:black;">
    <div class="userprofile">
        <a href="{% url 'blog-post-user' object.user.username %}" class="userpic "> <img
                src="{{object.user.profile.image.url}}" alt="" class="userpicimg img-bordered-primary">
        </a>

        <h3 class="mt-4">
            <a href="{% url 'blog-post-user' object.user.username %}" class="username">@{{object.user.username}}</a>
        </h3>
        <small>
            <p>{{object.user.first_name|capfirst}} {{object.user.last_name|capfirst}}</p>

        </small>

    </div>
</div>