{% extends 'blog/base.html' %}

{% block content %}
<!--profile begin-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6 text-center">
                            <img src="{{ user_object.profile.image.url }}" alt=""
                                class="mx-auto rounded-circle account-img img-bordered-primary">
                            <br>
                        </div>

                        <div class="col-12 col-lg-8 col-md-6">
                            <h3 class="mb-0 text-truncated text-center">{{user_object.first_name|capfirst}}
                                {{user_object.last_name|capfirst}}
                            </h3>
                            <br><br>
                            <p class=" border-left pl-3">
                                I love to read, hang out with friends, watch football, listen to music, and learn new
                                things.
                            </p>
                            <div class=" border-left pl-3">
                                <p class="badge badge-info tags">Web UI Designer</p>
                            </div>
                            <br>
                        </div>

                        <!--FOLLOWING FOLLOWERS NUMBER-->
                        <div class="col-sm-4 col-4 text-center">
                            <h6 class="mb-0">
                                <br>
                                {{ user_object.profile.isfollowing.all.count }}
                                 <small>Following</small>
                                <br>
                                <br>
                                {{ user_object.profile.followedby.all.count }}
                                <small> Followers</small>
                            </h6>

                        </div>
                        <!--FOLLOWING FOLLOWERS NUMBER END-->

                        {% if user.is_authenticated %}
                        <!--FOLLOW/UNFOLLOW BUTTON-->
                        <div class="col-4 text-center">
                            <br>

                            {% if view.is_following %}
                            <a class="btn btn-outline-info btn-block"
                                href="{% url 'users-profile-unfollow' user_object.id %}">unfollow</a>
                            {% else %}
                            <a class="btn btn-block btn-outline-success"
                                href="{% url 'users-profile-follow' user_object.id %}">
                                Follow
                            </a>
                            {% endif %}
                        </div>
                        <!--FOLLOW/UNFOLLOW BUTTON END-->

                        <!--dropdown button-->
                        <div class="col-4 text-center">
                            <!-- <h3 class="mb-0">45  </h3> -->
                            <br>
                            <button type="button" class="btn btn-outline-primary btn-block dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-gear"></span> Options</button>
                            <div class="dropdown-menu">
                                {% if user == user_object %}
                                <a class="dropdown-item" href="{% url 'users-profile-edit' %}">Edit Profile</a>
                                {% else %}
                                <a class="dropdown-item disabled" href="#">Block</a>
                                {% endif %}
                                <!-- <a class="dropdown-item" href="#">Another action</a> -->
                                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                <!-- <div class="dropdown-divider"></div> -->
                            </div>
                        </div>
                        {% endif %}
                        <!--dropdown button ends-->
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/card-block-->
            </div>
        </div>
    </div>
    <br>
    <!-- users post begin -->
    {% for post in object %}
    {% include 'Snippets/post_snippet.html' %}
    {% endfor %}
    <!--user post ends -->
</div>
<!--profile ends-->
{% include 'snippets/pagination_snippet.html' %}

{% endblock content %}